.Body{
    background: none;
    position: relative;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.FormBox{
    position: relative;
    width: 400px;
    height: 500px;
    background: rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InputBox{
    position: relative;
    width: 300px;
    height: 50px;
    margin: 30px 0;
    border-bottom: 1px solid #fff;
}

.InputBox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-size: 12px;
    pointer-events: none;
    transition: .5s;
}

.InputBox input{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
}

.InputBox input:focus~label,
.InputBox input:valid~label{
    top: -5px;
}

.Forgot{
    font-size: 10px;
    cursor: pointer;
}

