.Body{
    background: none;
    position: relative;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.FormBox{
    position: relative;
    width: 25rem;
    height: 46.25rem;
    background: rgba(0, 0, 0, 0.30);
    border-radius: 0.625rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.InputBox{
    position: relative;
    width: 18.75rem;
    height: 3.125rem;
    margin: 30px 0;
    border-bottom: 1px solid #fff;
}

.WrapperInputBox{
    display: flex;
    width: 18.75rem;
    justify-content: space-between;
}

.InputXL{
    width: 8.125rem;
    height: 3.125rem;
    border-bottom: 1px solid #fff;
    margin: 27px 0;
}

.InputXR{
    width: 8.75rem;
    height: 3.125rem;
    border-bottom: 1px solid #fff;
    margin: 27px 0;
}

.InputXR label{
    position: relative;
    top: -75%;
    left: 0.313rem;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.InputXL label{
    position: relative;
    top: -75%;
    left: 0.313rem;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.InputBox label{
    position: absolute;
    top: 50%;
    left: 0.313rem;
    transform: translateY(-50%);
    color: #fff;
    font-size: 0.8em;
    pointer-events: none;
    transition: .5s;
}

.InputBox input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 5px;
    background: transparent;
    outline: none;
}

.WrapperInputBox input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 5px;
    background: transparent;
    outline: none;
}

.InputBox input:focus~label,
.InputBox input:valid~label{
    top: -5px;
}

.InputXR input:focus~label,
.InputXR input:valid~label,
.InputXL input:focus~label,
.InputXL input:valid~label{
    top: -70px;
}

.Forgot{
    font-size: 0.7em;
    cursor: pointer;
}

