footer{
    position: absolute;
    bottom: 0;
    width: 100%;
           /* altura do rodapé */
  
}
.footer{
    
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: 
    rgba(13, 1, 38, 0.5);

    
}

span{
    font-weight: 600;
}