.Background{
    position: absolute;
    top: 0;
    left: 0;
    background: url('../../assets/sand.svg') no-repeat;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
}

.Background::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 5, 64, 0.60);
    z-index: 0; 
}