.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-top: 15%;
    gap: 20px;
}


h1{

    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    
}

p{

    font-family: 'Inter', sans-serif;
    color: white;

    font-weight: 300;
}

.SaibaMaisButton{
    width : 190px;
    height : 57px;
    background-color: rgba(101, 97, 97, 0.6);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}