.Body{
    background: none;
    position: relative;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.FormBox{
    position: relative;
    width: 400px;
    height: 740px;
    background: rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Options{
    display: flex;
    margin-top: 2%;
    margin-bottom: 10%;
    margin-right: 47%;
}

.Options h6{
    font-size: 12px;
    margin-left: 2rem;
}

.InputBox{
    position: relative;
    width: 300px;
    height: 50px;
    margin: 30px 0;
    border-bottom: 1px solid #fff;
}

.WrapperInputBox{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.InputXL{
    width: 130px;
    height: 50px;
    border-bottom: 1px solid #fff;
    margin: 27px 0;
}

.InputXR{
    width: 140px;
    height: 50px;
    border-bottom: 1px solid #fff;
    margin: 27px 0;
}

.InputXR label{
    position: relative;
    top: -75%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.InputXL label{
    position: relative;
    top: -75%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.InputBox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 0.8em;
    pointer-events: none;
    transition: .5s;
}

.InputBox input{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
}
.WrapperInputBox input{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
}

.InputBox input:focus~label,
.InputBox input:valid~label{
    top: -5px;
}

.InputXR input:focus~label,
.InputXR input:valid~label,
.InputXL input:focus~label,
.InputXL input:valid~label{
    top: -70px;
}

.Forgot{
    font-size: 10px;
    cursor: pointer;
}

